body{
	background-color: black;

}

img{
	width: 400px;
	height: 400px;
	margin: 20px 10px 20px 10px;
	border:solid white; 
	display: inline-block;
}

header{
	font-size: 40px;
	color: white;
}

h3{
	color: white;
}

label{
	color: white;
}

.animals, #addAnimals{
	color: white;
	border-radius: 12px;
	font-size: 20px;
	background-color: #008CBA;
	margin: 10px 10px 10px 10px;
}

